{% extends 'ecom_app/base.html' %}
{% block title %}Brand: {{ brand.name }}{% endblock title %}
{% block content %}
    Brand Name: {{ brand.name }} <br>
    Brand Slug: {{ brand.slug }} <br>
    Brand Description: {{ brand.description }} <br>

    <a href="{% url 'ecom_app:brands_form' '' %}"> Add New Brand</a> | <a href="{% url 'ecom_app:brands_list' %}"> All Brands List</a> | <a href="{% url 'ecom_app:brands_form' brand.id %}">Edit This Brand</a> | <a href="{% url 'ecom_app:brands_delete' brand.id %}">Delete This Brand</a>

{% endblock content %}