{% extends 'ecom_app/base.html' %}
{% block title %}Cat list{% endblock title %}
{% block content %}
    Category list: <br>

    <ol>
    {% for cat in cats %}
        <li>
            {{ cat.name }} | <a href="{% url 'ecom_app:cat_form' cat.id %}">Edit</a> | <a href="{% url 'ecom_app:cat_delete' cat.id %}">Delete</a> | <a href="{% url 'ecom_app:cat_view' cat.id %}">View</a>
        </li>
    {% endfor %}
    </ol>

    <hr>

    <a href="{% url 'ecom_app:cat_form' '' %}"> Cat Form</a>

{% endblock content %}