{% extends 'ecom_app/base.html' %}
{% block title %} {% if supplier.id %}Modify Supplier: {{ supplier.name }}{% else %} Add New Supplier{% endif %} {% endblock title %}

{% if msg %}
    {% block msg %}
        {{ msg }}
    {% endblock %}
{% endif %}

{% block content %}
    <hr>
    <form action="{% url 'ecom_app:suppliers_form' supplier.id %}" method="post">
        {% csrf_token %}
        Suppliers Name :<br>
        <input type="text" value="{{ supplier.name }}" name="name"><br>
    Suppliers Slug :<br>
        <input type="text" value="{{ supplier.slug }}" name="slug"><br>
    Suppliers Description :<br>
        <textarea name="description">{{ supplier.description }}</textarea> <br>
        <input type="submit" name="submit" value="submit">
    </form>
    
    <hr>
    <a href="{% url 'ecom_app:suppliers_list' %}"> All Suppliers List</a> | <a href="{% url 'ecom_app:suppliers_form' '' %}">Add New Supplier</a>
{% endblock content %}