{% extends 'ecom_app/frontend/base.html' %}

{% block title %}{{title}}{% endblock title %}

    {% block right_content %}
    <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
            <h2 class="title text-center">Category Product :: {{category.name}} </h2>

            {% for product in products %}
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="{% url 'ecom_app:upload_file_provider' product.get_image_file_path %}" alt=""/>
                            <h2>${{ product.price }}</h2>
                            <p>{{ product.name }}</p>
                            <a href="{% url 'ecom_app:product-details' product.id %}" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-folder-open"></i> Details</a>
                        </div>
                        <!--
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>{{ product.price }}</h2>
                                <p>{{ product.name }}</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock right_content %}