{% extends 'ecom_app/frontend/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Login to your account</h2>
                    <div style="color:red;margin:10px 0px;">
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                    </div>
                    <form method="POST" action="{% url 'ecom_app:login' %}">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Email">
                        <input type="password" name="password" placeholder="Password">
                        <!--<span> <input type="checkbox" class="checkbox"> Keep me signed in </span>-->
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form method="POST" action="{% url 'ecom_app:reg' %}">
                        {% csrf_token %}
                        <input type="text" name="user_name" placeholder="Name">
                        <input type="email" name="email" placeholder="Email Address">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>
{% endblock content %}