{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{% static 'ecom_app/libs/bootstrap/css/bootstrap.min.css' %}">
	<link href="{% static 'ecom_app/styles/css/admin-sidebar.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'ecom_app:back-index' %}">E-Commerce Admin Panel</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'ecom_app:back-index' %}">Dashboard <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'ecom_app:cat-list' %}">Category</a></li>
            <li><a href="{% url 'ecom_app:brands-list' %}">Brands</a></li>
            <li><a href="#">Tags (Pending)</a></li>
            <li><a href="{% url 'ecom_app:prod-list' %}">Product</a> </li>
            <li><a href="{% url 'ecom_app:menu-list' %}">Menu</a> </li>
          </ul>
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h4 class="page-header">{% block heading %}{% endblock heading %}</h4>

          	{% block content %}

			{% endblock content %}
          
        </div>
      </div>
    </div>
</body>
</html>