{% extends 'ecom_app/backend/base.html' %}
{% block title %} {% if brand.id %}Modify Brand: {{ brand.name }}{% else %} Add New Brand{% endif %} {% endblock title %}

{% block heading %}{{heading}}{% endblock heading %}

{% if msg %}
    {% block msg %}
        {{ msg }}
    {% endblock %}
{% endif %}

{% block right_content %}
<div class="col-md-8 col-md-offset-2">
    <form action="{% url 'ecom_app:brand-form' brand.id %}" method="POST">
        {% csrf_token %}
      <div class="form-group">
        <label for="BrandName">Brand Name</label>
        <input type="text" class="form-control" name="name" placeholder="Brand Name" value="{{ brand.name }}" >
      </div>
      <div class="form-group">
        <label for="BrandSlug">Brand Slug</label>
        <input type="text" class="form-control" name="slug" placeholder="slug" value="{{ brand.slug }}" >
      </div>
      <div class="form-group">
        <label for="BrandDescription" >Brand Description</label>
        <textarea class="form-control" name="desc" rows="3">{{ brand.description }}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-success pull-right" role="buton" href="{% url 'ecom_app:brand-form' '' %}">Add New</a>
    </form>
</div> 
{% endblock right_content %}