{% extends 'ecom_app/backend/base.html' %}
{% block title %}{{title}}{% endblock title %}
{% block content %}


<table border="0" width="400">
    <tr>
    	<td align="left"><b>Name</b></td>
        <td align="left">{{ cat.name }}</td>
    </tr>
    <tr>
        <td align="left"><b>Description</b></td>
        <td align="left">{{ cat.description }}</td>
    </tr>
    <tr>
        <td align="left" colspan="2">
            Are you sure to delete this category? <br>
            <a href="{% url 'ecom_app:cat-delete' cat.id %}">Yes</a> or <a href="{% url 'ecom_app:cat-list' %}">No</a> 
        </td>
    </tr>
</table>

{% endblock content %}