{% extends 'ecom_app/backend/base.html' %}
{% block title %}{{title}}{% endblock title %}

{% block heading %}{{heading}}{% endblock heading %}


{% block content %}

    <div>
        {% for msg in messages %}
            <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ msg.message }}
            </div>
        {% endfor %}
    </div>

<div style="width:100%; overflow: hidden;">
    <a class="btn btn-success btn-xs pull-right" role="button" href="{% url 'ecom_app:create_edit_menu' '' %}">Add New</a>
</div>

<div class="table-responsive">


    <table class="table table-striped"> 

      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
		  <th>Parent</th>
		  <th>Type</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.description }}</td>
                <td>{{ menu.parent.name }}</td>
                <td>{{ menu.type }}</td>
                <td class="text-center" style="width:200px;">
                    <a class="btn btn-warning btn-xs" role="button" href="{% url 'ecom_app:create_edit_menu' menu.id %}">Edit</a>
                    <a class="btn btn-danger btn-xs" role="button" href="{% url 'ecom_app:delete_menu' menu.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <div>
            {{ random_content|safe }}

    </div>

<!-- <p>Menu not found!</p> -->
{% endblock content %}