{% extends 'ecom_app/backend/base.html' %}
{% block title %}{{title}}{% endblock title %}

{% block heading %}{{heading}}{% endblock heading %}

{% block msg %}
<p>{{msg}}</p>
{% endblock msg %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <form action="{% url 'ecom_app:prod-form' prod.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="ProductName">Product Name</label>
            <input type="text" class="form-control" name="name" placeholder="Product Name" value="{{prod.name}}">
        </div>
        <div class="form-group">
            <label for="Select">Category Name</label>
            <select name="category" multiple class="form-control">
                {% with product_categories=prod.category.all %}
                <!-- Not understand about prod.category.all -->

                {% for cat in cats %}
                <option value="{{ cat.id }}"
                        {% for c in product_categories %}
                        {% if c.id == cat.id %}
                            selected="selected"
                        {% endif %}
                        {% endfor %}
                >
                    {{ cat.name }}
                </option>
                {% endfor %}

                {% endwith %}
            </select>
        </div>

        <div class="form-group">
            <label>Brand Name </label>
            <select name="brand" class="form-control" multiple>
                <!-- <option value="">--- Select Brand ---</option> -->
                {% with product_brands=prod.brands.all %}

                    {% for brand in brands %}
                        <option value="{{ brand.id }}"
                        {% for b in product_brands %}
                           {% if b.id == brand.id %}
                                selected="selected"
                           {% endif %}
                        {% endfor %}
                        >{{brand.name}}</option>
                    {% endfor %}

                {% endwith %}
            </select>
        </div>

        <div class="form-group">
            <label>Supplier </label>
            <select name="supplier" class="form-control">
                <option value="">--- Select Supplier ---</option>
                {% for supplier in suppliers %}
                <option value="{{supplier.id}}">{{supplier.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="ShortDescription">Short Description</label>
            <input type="text" class="form-control" name="short_desc" placeholder="Short Description"
                   value="{{prod.short_description}}">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control" name="desc" row=3>{{prod.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="Price">Price</label>
            <input type="number" class="form-control" name="price" placeholder="Price" value="{{prod.price}}">
        </div>
        <div class="form-group">
            <label for="Discount">Discount</label>
            <input type="number" class="form-control" name="discount" placeholder="Discount" value="{{prod.discount}}">
        </div>
        <div class="form-group">
            <label for="Status">Status </label>
            <select name="status" class="form-control">
                <option value="A">Available</option>
                <option value="U">Unavailable</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ImageUrl">Image Url</label>
            <input type="file" name="image_file" id="imageurl" class="imageurl">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-success pull-right" role="buton" href="{% url 'ecom_app:prod-form' '' %}">Add New</a>
    </form>
</div>

{% endblock content %}