{% extends 'ecom_app/backend/base.html' %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
    Single Product View: <br>

<table border="1" width="400">
    <tr>
        <td align="left"><b>Name</b></td>
        <td align="left">{{ prod.name }}</td>
    </tr>
    <tr>
        <td align="left"><b>Description</b></td>
        <td align="left">{{ prod.description }}</td>
    </tr>
</table>
    <br>
    <a href="{% url 'ecom_app:prod-list' %}">Product List</a>
{% endblock content %}