{% extends 'ecom_app/backend/base.html' %}
{% block title %} {% if brand.id %}Modify Brand: {{ brand.name }}{% else %} Add New Brand{% endif %} {% endblock title %}

{% block heading %}{{heading}}{% endblock heading %}

{% if msg %}
    {% block msg %}
        {{ msg }}
    {% endblock %}
{% endif %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <form action="{% url 'ecom_app:user-form' user.id %}" method="POST">
        {% csrf_token %}
      <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" name="name" placeholder="User Name" value="{{ user.user_name }}" >
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{ user.email }}" >
      </div>
      <div class="form-group">
        <label >Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" value="{{ user.password }}" >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-success pull-right" role="buton" href="{% url 'ecom_app:user-form' '' %}">Add New</a>
    </form>
</div> 
{% endblock content %}